:root {
  --color-sky-light: #6b8cff;
  --color-sky-dark: #a0baff;
  --color-ground-base: #7c4c23;
  --color-ground-border: #5a3617;
  --color-dark-transparent-strong: rgba(0, 0, 0, 0.8);
  --color-dark-transparent-medium: rgba(0, 0, 0, 0.6);
  --color-white: #FFFFFF;
  --color-text-dark: #333;
  --color-white-transparent-very-light: rgba(255, 255, 255, 0.05);
  --color-white-transparent-medium: rgba(255, 255, 255, 0.9);
  --color-portfolio-main-content-border: #ddd;
  --color-portfolio-main-content-bg: #fff;
  --color-project-placeholder-border: #ccc;
  --color-project-placeholder-bg: #eee;
  --color-button-primary: #4CAF50;
  --color-button-border: #2e7d32;
  --color-button-hover: #388e3c;
  --color-mario-text-shadow: #4CAF50;
}

body.dark-mode {
  --color-sky-light: #303030;
  --color-sky-dark: #505050;
  --color-ground-base: #222222;
  --color-ground-border: #111111;
  --color-dark-transparent-strong: rgba(0, 0, 0, 0.9);
  --color-dark-transparent-medium: rgba(0, 0, 0, 0.7);
  --color-white: #222222;
  --color-text-dark: #eeeeee;
  --color-white-transparent-very-light: rgba(0, 0, 0, 0.2);
  --color-white-transparent-medium: rgba(0, 0, 0, 0.85);
  --color-portfolio-main-content-border: #555;
  --color-portfolio-main-content-bg: #444;
  --color-project-placeholder-border: #777;
  --color-project-placeholder-bg: #666;
  --color-button-primary: #66BB6A;
  --color-button-border: #4CAF50;
  --color-button-hover: #81C784;
  --color-mario-text-shadow: #00FF00;
}